# Database connection string
DATABASE_URI=mongodb+srv://raunak:raunak123@payl.vybln.mongodb.net/db1?retryWrites=true&w=majority&appName=payl
# Or use a PG connection string
#DATABASE_URI=postgresql://127.0.0.1:5432/payload-template-website
# Used to encrypt JWT tokens
PAYLOAD_SECRET=e24b7552f54dd029c2c76f07
# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=http://localhost:3000